#projects-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#projects-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-projects-modal {
  width: 90%;
  height: 90%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  //overflow-y: auto;
}

@media (min-width: 1500px) {
  #inner-projects-modal {
    width: 1500px;
    height: 800px;
  }
}

#modal-image-container {
  width: 70%;
  display: flex;
  justify-content: center;
}
#projects-modal-sample-img {
  aspect-ratio: 1.6 / 1;
  min-width: 290px;
  max-width: 1200px;
  max-height: 860px;
  border-radius: 15px;
  border: 1px solid black;
}

#project-image-links {
  display: flex;
}

#project-image-links li {
  padding: 0.5em;
  margin-right: 0.4em;
  margin-left: 0.4em;
}

#project-image-links li div {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}

#project-image-links li:hover {
  cursor: pointer;
}

#project-description-container {
  display: flex;
  flex-direction: column;
}

#inner-projects-modal {
  h3,
  h4 {
    padding-top: 1em;
  }
}

#project-skills-used ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 2em;
}

#project-skills-used li {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
#project-skills-used li img {
  height: 1.5em;
}
