#projects-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#projects-modal.active {
  display: flex;
}

#inner-projects-modal {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #fff;
  margin: 5%;
  padding: 5%;
  padding-bottom: 2%;
  border-radius: 10px;
  overflow-y: auto;
}

.project-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-image-container img {
  width: 60%;
  height: calc((90vw * 0.6) * 0.63);
  border: 1px solid black;
  border-radius: 10px;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  flex-grow: 1;
  text-align: center;
}

.project-description-container h4 {
  text-decoration: underline;
}

.project-description-container ul {
  display: flex;
  justify-content: space-around;
}

#project-description-btn-container {
  display: flex;
  justify-content: right;
}

#project-description-btn-container button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  color: #3f51b5;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 20%;
  min-width: 100px;
  text-align: right;
  font-size: 1em;
}
