// form styling modeled on:
// https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/

@use "../themes/colors";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid colors.$light-grey;
  width: 100%;
  font-family: inherit;
  resize: vertical;
}

input:required + span:after {
  content: "required";
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
