@use "../themes/colors";

#companies {
  //   display: flex;
  width: 100%;
}

#company-logos {
  width: 100%;
  display: flex;
  //justify-content: space-between;
  //align-items: stretch;
  //padding-top: 2em;
  //padding-bottom: 2em;
}

#company-logos div {
  width: 33%;
  //height: 100%;
  border: 1px solid colors.$light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#company-logos #challenger-logo-container {
  width: 34%;
}

#companies div img {
  width: 100%;
  height: fit-content;
  padding: 1em;

  background-color: #fff;
}

#companies img:hover {
  cursor: pointer;
}

#company-logos #ga-logo {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 0px;
}

#experience-description {
  padding-top: 1em;
  border-right: 1px solid colors.$light-grey;
  border-bottom: 1px solid colors.$light-grey;
  border-left: 1px solid colors.$light-grey;
}

#experience-description article {
  text-align: center;
}

// clicking on the image will display description of the corresponding experience
// to start these off, GA will be set to display: block
// while the other two will be hidden

#ga-experience-info {
  display: block;
}

#challenger-experience-info {
  display: none;
}

#bare-experience-info {
  display: none;
}
