#projects-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#inner-projects-modal {
  background-color: #fff;
  margin: 10%;
  padding: 10%;
}

#project-previews {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;
}

#project-previews article:hover {
  cursor: pointer;
}

#project-previews img {
  width: 290px;
  height: 183px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 5px 5px gray;
}

#project-previews h3 {
  padding-top: 0.3em;
  text-align: center;
  font-size: 1.5em;
}

#project-previews article:hover h3 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
