*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

main {
  max-width: 80%;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

ul {
  list-style: none;
}

#tech-logo {
  width: 200px;
  height: 200px;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  background-color: #666666;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
  width: 100%;
  height: 100%;
  text-align: center;
}

header nav a:hover {
  background-color: #2d2d2d;
}

#intro-pic {
  border-radius: 50%;
}

#skill-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#skill-logos li {
  width: 15%;
  min-width: 115px;
  padding: 1em;
}

#skill-logos img {
  width: 100%;
}

#projects-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#inner-projects-modal {
  background-color: #fff;
  margin: 10%;
  padding: 10%;
}

#project-previews {
  padding-top: 2em;
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;
}

#project-previews article:hover {
  cursor: pointer;
}

#project-previews img {
  width: 290px;
  height: 183px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 5px 5px gray;
}

#project-previews h3 {
  padding-top: 0.3em;
  text-align: center;
  font-size: 1.5em;
}

#project-previews article:hover h3 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#companies {
  width: 100%;
}

#company-logos {
  width: 100%;
  display: flex;
}

#company-logos div {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 4px solid #fff;
}

#company-logos #challenger-logo-container {
  width: 34%;
}

#companies div img {
  width: 100%;
  height: fit-content;
  padding: 1em;
  background-color: #fff;
}

#company-logos #ga-logo {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 0px;
}

#experience-description {
  padding-top: 2em;
}

#experience-description article {
  text-align: center;
}

#company-logos #ga-logo-container {
  border-bottom: 4px solid #666666;
}

#ga-experience-info {
  display: block;
}

#challenger-experience-info {
  display: none;
}

#bare-experience-info {
  display: none;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #666666;
  width: 100%;
  font-family: inherit;
  resize: vertical;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 1px solid #3f51b5;
  border-left: 1px solid #3f51b5;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

#contact ul {
  padding-top: 2em;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#contact li {
  display: flex;
  align-items: center;
}

#contact a {
  text-decoration: none;
  padding-left: 0.5em;
}

/*# sourceMappingURL=styles.css.map */
